<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="technology.mainthread.apps.moment">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".MomentWearApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MomentTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities -->
        <activity
            android:name=".ui.activity.DrawActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/MomentTheme.NoSwipeToDismiss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SenderActivity"
            android:noHistory="true" />
        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity"
            android:noHistory="true" />
        <!-- /Activities -->

        <!-- Services -->
        <service
            android:name=".background.service.WearMomentListenerService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".background.service.WearEventsIntentService"
            android:exported="false" />
        <service
            android:name=".background.service.ErrorService"
            android:process=":error" />
        <!-- /Services -->
    </application>

</manifest>
